<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="t1" type="File" fileName="${specialfolder:folder=ApplicationData}/File Converter/log.txt"/>
      <target name="t2" type="Console"/>
      <target xsi:type="EventLog" name="eventLog" source="Bond" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2, eventLog"/>
    </rules>
  </nlog>
</configuration>